* { 
    margin:0px; 
    padding:0px; 
    box-sizing: border-box;
}
main { 
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    
}
section { 
    width: 1400px;
    height: 80vh;
    display: flex;
    border: 2px solid black;
    margin: 0 auto; 
    background-color: rgba(0, 0, 0, .3);   
}
.main_div_one { 
    width: 700px;
    height: 80vh;
    background-image: url();
    text-align: center;
}
.main_div_two { 
    background-color: white; 
    width: 700px;
    height: 80vh;
}
.get_start { 
    color: white;
    font-size: 65px;
    margin-top:35vh;
}
.all_btn { 
    margin-top: 5vh;
}
.btn { 
    margin-top: 10px;
    width: 350px;
    height: 70px;
    border: 1px solid white;
    font-size: 1.3em;
    margin-top: 15px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
}
.btn:hover { 
    background-color: white;
    color: black;  
    border-radius: 20%;
    
}